
@font-face {font-family: 'UhBeeSe_hyun';src: url('UhBeeSe_hyun.woff') format('woff');}

body{
	background-color: #E3D8E9;
	
	text-align:center;
	font-family:UhBeeSe_hyun;
	font-weight:bold;
	color: #5f4385;
	font-size:16px;
}
*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
#content{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:640px;
	margin-left:auto;
	margin-right:auto;
	gap:20px;
}
.introtext{
	font-size:20px;
}
.normaltext{
	width:500px;
	font-family:sans-serif;
	font-size:16px;
	text-align:left;
}
h2{
	margin-top:16px;
}
h2:after {
	content: "";
	display: block;
	height: 2px;
	width: 60%;
	margin-top: 3px;
	background: linear-gradient( 90deg, rgba(0,0,0,1), rgba(0,0,0,0) );
}

.snsbar{
	display:flex; 
	flex-direction:row; 
	justify-content:space-evenly; 
	gap:16px;
}
/*
.snsbtn{
	padding-left:12px;
	padding-right:12px;
	padding-top:4px;
	padding-bottom:4px;
	font-size:16pt;
	font-weight:bold;
	border-radius:8px;
	text-align:center;
	display:flex;
	flex-direction:row;
	align-items:center;
	gap:8px;
}
.snsbtn_smol{
	padding-left:8px;
	padding-right:8px;
	padding-top:4px;
	padding-bottom:4px;
	font-size:12pt;
	font-weight:bold;
	border-radius:8px;
	text-align:center;
	display:flex;
	flex-direction:row;
	align-items:center;
	gap:4px;
}
.twitter{
	background-color: #000000;
	color:#F0F0F0;
}
.bluesky{
	background-color: #43a8ff;
	color:#F0F0F0;
}
.naver{
	background-color: #05d686;
	color:#F0F0F0;
}
.google{
	background-color: #4285f4;
	color:#F0F0F0;
}*/
.snsbtn{
	padding-left:12px;
	padding-right:12px;
	padding-top:4px;
	padding-bottom:4px;
	font-size:16pt;
	font-weight:bold;
	border-radius:8px;
	text-align:center;
	display:flex;
	flex-direction:row;
	align-items:center;
	gap:8px;
	border: 4px solid;
	transition-property: background-color, color;
	transition-duration: 0.5s;
}
.snsbtn > img {
	width:32px;
	height:32px;
}
.snsbtn_smol{
	padding-left:6px;
	padding-right:6px;
	padding-top:2px;
	padding-bottom:2px;
	font-size:10pt;
	font-weight:bold;
	border-radius:6px;
	text-align:center;
	display:flex;
	flex-direction:row;
	align-items:center;
	gap:4px;
	border: 2px solid;
	transition-property: background-color, color;
	transition-duration: 0.5s;
}
.snsbtn_smol > img {
	width:24px;
	height:24px;
}

.twitter{
	border-color: #000000;
	background-color: #000000;
	color:#FFF;
}
.twitter:hover{
	background-color: #FFF;
	color:#000000;
}
/*
.twitter{
	border-color: #000000;
	background-color: #00000000;
	color:#000000;
}
.twitter:hover{
	background-color: #000000FF;
	color:#FFF;
}*/
.bluesky{
	border-color: #1185fe;
	background-color: #1185fe;
	color:#FFF;
}
.bluesky:hover{
	background-color: #FFF;
	color:#1185fe;
}
.bluesky > img {
	filter:drop-shadow(0 0 4px #1185fe);
}
.naver{
	border-color: #05d686;
	background-color: #05d686;
	color:#FFF;
}
.naver:hover{
	background-color: #FFF;
	color:#05d686;
}

.google{
	border-color: #4285f4;
	background-color: #4285f4;
	color:#FFF;
}
.google:hover{
	background-color: #FFF;
	color:#4285f4;
}

.linkbar{
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	border-radius:8px;
	background-color: #5f4385;
	align-items:stretch;
	height:48px;
}

.linkbar > a {
	display:flex;
}

.linkbar_btn{
	flex-grow:1;
	font-size:20px;
	padding-left:10px;
	padding-right:10px;
	display:flex;
	justify-content: center;
	align-items: center;
	border-width:4px 0;
	border-style:solid;
	border-color:#FFFFFF00;
	transition:border-color 0.5s;
	
}
/*
.linkbar_btn:hover{
		background-color:#5f4385;
	background-color:#8d67bf;
}*/
.linkbar_btn:hover{
	border-bottom-color:#FFFFFFFF;
	animation:btn_hover_anim 1s infinite;
}
@keyframes btn_hover_anim{
	from { padding-bottom: 0; }
	50% { padding-bottom: 4px; }
	to { padding-bottom: 0; }
}

.linkbar_red{
	color:#ff91db;
}
.linkbar_yellow{
	color:#f2df8c;
}
.linkbar_blue{
	color:#70bcff;
}
.linkbar_purple{
	color:#c9aaf2;
}

.linkbar_inactive{
	color:#FFFFFF40 !important;
}

.linkbar_selected{
	color:#F0F0F0 !important;
	text-shadow:#FFFFFF 0 0 10px;
	border-bottom-color: #FFFFFFFF;
}

.selected_icon{
	display:none;
}
.unselected_icon{
	display:block;
}
.linkbar_selected > .selected_icon{
	display:block !important;
}
.linkbar_selected > .unselected_icon{
	display:none !important;
}

.stafflist{
	display:flex;
	flex-direction:column;
	width:500px;
	gap:8px;
}
.staffprofile{
	display:flex;
	flex-direction:row;
	border-width:2px;
	border-style:solid;
	border-color:#202020;
	padding:8px;
	border-radius:16px;
}
/*
.stafflist{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	width:100%;
	gap:8px;
	justify-content:center;
}
.staffprofile{
	width:280px;
	display:flex;
	flex-direction:row;
	border-width:2px;
	border-style:solid;
	border-color:#202020;
	padding:8px;
	border-radius:16px;
}
*/
.staffpic{
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	margin-right:16px;
	margin-left:8px;
}
.staffpic > img{
	object-fit: cover;
	border-radius: 50%;
	width:100px;
	height:100px;
}
.staffdesc{
	display:flex;
	flex-direction:column;
	gap:4px;
}
.staffdesc{
	flex-grow:1;
}
.staffdesc > div {
	text-align:left;
}
.staffname{
	font-size:24px;
}
.staffbio{
	margin-left:8px;
	font-size:16px;
}
.staffsns{
	margin-top:8px;
	display:flex; 
	flex-direction:row; 
	justify-content:start; 
	gap:8px;
}
